body {
  background-color: #FFF7F0;
  color: #030303;
  font-family: "Plus Jakarta Sans", sans-serif;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo img {
  width: 74px;
  aspect-ratio: 1;
}

#call-to-action {
  background-color: #030303;
  color: #FFF7F0;
  text-decoration: none;
  padding: 14px 45px;
  border-radius: 1000px;
}

.text-content {
  text-align: center;
}

h1 {
  font-size: 56px;
  margin-block-end: 22px;
}

.text-content p {
  color: #7A746E;
}

.image-container {
  display: flex;
  gap: 24px;
}

/* .image-container a {
  aspect-ratio: 4 / 5;
  background-color: lavender;
  border: #030303 solid 1px;
  flex-basis: 100%;
  
} */

/* .grap {
font-display:flex;
margin-bottom: 129px;
margin-inline-start: 422px;
width: 250px;
}

/* .bottom {
display: flex;
margin-bottom: 5px;
} */


.image-container {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 30px;
  flex-wrap: wrap;
}

#color-1 {
  background-color: #755cde;
}

#color-2 {
  background-color: #eb7565;
}

#color-3 {
  background-color: #61c4b7;
}

.card {
  position: relative;
  /* display: flex; */
  width: 355px;
  height: 354px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px #000000;
}

.card img {
  width: 100px;
  height: auto;
  object-fit: contain;
  padding: 20px;
}



h2 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  z-index: 2;
  margin: 0;
}